@import '@styles/variables.scss';
canvas {
  border-bottom: 3px solid $main-color;
}
h1 {
  color: $main-color;
}
.toolbar-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  label {
    font-weight: 600;
    margin-right: 0.5rem;
  }
  input {
    margin-right: 0.5rem;
    background: inherit;
    border: none;
  }
  .line-width {
    border: 2px solid $main-color;
  }
  .button-tools {
    padding-top: 0.5rem;
    margin-bottom: 1rem;
  }
}
button {
  padding: 0.5rem;
  vertical-align: middle;
  transition: 0.25s;
  border: none;
  border: 2px solid $main-color;
  font-weight: 800;
  background-color: inherit;
  margin-left: 0.2rem;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.75);
    transition: 0.15s;
  }
  img {
    display: flex;
  }
}
.picture-list-wrapper {
  overflow: auto;
  max-width: 100%;
  margin-bottom: 1rem;
  .picture-list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin-bottom: 0.2rem;
    padding: 1rem;
    img {
      border: 1px solid rgb(179, 179, 179);
      max-width: 100%;
      margin-bottom: 0.3rem;
    }
  }
}

footer {
  display: flex;
  align-content: center;
  padding: 1rem;
}
.gallery-back-btn {
  margin-bottom: 1rem;
}
