@import '@styles/variables.scss';
.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  padding: 2rem 1rem 2rem 1rem;
  width: 100%;
  height: 100%;

  .icon {
    font-size: 80px;
    font-weight: 800;
    color: $main-color;
    cursor: default;
    display: flex;
    justify-content: center;
    padding: 1rem 0 0 0;
    user-select: none;
  }
  h1 {
    display: flex;
    justify-content: center;
    user-select: none;
    font-size: 30px;
    color: $main-color;
  }
  form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 1rem;
    input {
      width: 100%;
      padding: 0.8rem 0.5rem 0.8rem 1rem;
      margin: 0.5rem 0 0.5rem 0;
      background: rgba(255, 255, 255, 0.6);
      border: 3px solid $main-color;
      display: flex;
      flex-flow: column wrap;
      align-content: center;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      &:focus,
      :active {
        box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.75);
        transition: 0.15s;
      }
    }
    a {
      display: flex;
      justify-content: flex-end;
      text-decoration: none;
      align-items: self-end;
      font-weight: 800;
      font-size: 12px;
      margin-left: 15rem;
      color: $main-color;
    }
    .primary-button {
      margin: 1.5rem 0 1rem 0;
      background: $main-color;
    }
    .fp-button {
      margin-bottom: 3rem;
    }
  }
  .google-button {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5%;
    background-size: 2rem;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.18);
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  }
}
p {
  font-size: 15px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  align-items: center;
  margin-bottom: 1rem;
  cursor: default;
}

a {
  font-weight: 700;
  text-decoration: none;
  margin: 0.1rem 0 0.1rem 0;
  user-select: none;
  color: $main-color;
  &:hover {
    text-decoration: none;
    color: $main-color;
  }
}
.button {
  max-width: 20rem;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto 2.5rem auto;
  transition: 0.25s;
  padding: 0.9rem 0 0.9rem 0;
  border: none;
  font-weight: 800;
  color: $text-color-light;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.75);
    transition: 0.15s;
  }
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .auth-wrapper {
    padding: 0;
    width: 300px;
    .icon {
      font-size: 50px;
    }
    .form {
      input {
        width: 80%;
        padding: 0.4rem 0.5rem 0.4rem 0.8rem;
      }
      a {
        display: flex;
        justify-content: flex-end;
        text-decoration: none;
        align-items: self-end;
        font-size: 12px;
        margin: 0;
      }
      .button {
        padding: 0.8rem;
        width: 80%;
      }
    }
    .google-button {
      padding: 0.8rem;
      width: 80%;
    }
  }
}
