@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300&display=swap');
@import './styles/variables.scss';
* {
  box-sizing: border-box;
}
.icon {
  font-family: 'Material Icons', serif;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}
:focus {
  outline-style: none;
  outline-width: 0px !important;
  outline-color: none !important;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  color: $text-color;
  background: #f1f2b5; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #135058, #f1f2b5); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #135058,
    #f1f2b5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-repeat: no-repeat !important;
  background-size: cover;
}
.icon {
  cursor: pointer;
  user-select: none;
}
#root {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100vh;
}
.App {
  display: flex;
  width: 762px;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-flow: column nowrap;
  background-color: #ffffff;
  max-width: 762px;
  max-height: 98vh;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .App {
    border-radius: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    box-shadow: none;
  }
}
